@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary: #003d9b;
  --color-on-primary: #ffffff;
  --color-surface-container-high: #e0e8ff;
  --color-outline-variant: #c3c6d6;
  --color-primary-container: #0052cc;
  --color-surface: #f9f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-container: #006476;
  --color-on-surface: #041b3c;
  --color-on-surface-variant: #434654;
  --color-surface-container: #e8edff;
  --color-primary-fixed: #dae2ff;
  --color-background: #f9f9ff;
  --color-on-primary-container: #c4d2ff;
  --color-surface-tint: #0c56d0;

  /* Radius */
  --radius: 0.125rem;
  --radius-xl: 0.5rem;

  /* Spacing */
  --spacing-margin-mobile: 16px;
  --spacing-margin-desktop: 40px;

  /* Fonts */
  --font-label-md: "JetBrains Mono";
  --font-headline-lg: "Manrope";
  --font-body-sm: "Work Sans";
  --font-body-lg: "Work Sans";
  --font-headline-md: "Manrope";
  --font-label-sm: "JetBrains Mono";
  --font-body-md: "Work Sans";
  --font-display-lg: "Manrope";
}
